node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

.env.local
.env.*.local
uploads/
uploads/*
.DS_Store
.vscode/
coverage/
dist/
build/
/.next/
logs
*.log
*.sqlite
/.pnp/
/.pnp.js
/.cache/